<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" >
    <link rel="icon" href="/assets/images/pngwing.com.png" type="image/png">
    
    <title>Netflix</title>
</head>
<body>

    <header>
        <a href="/" class="app-logo"><img class="app-logo" src="/assets/images/pngwing.com.png" alt="logo"></a>
        <div class="search">
            <form action="/search">
                <input type="text" name="search" placeholder="Buscar">
                <button><img src="/assets/images/search-branco.png"></button>
            </form>
        </div>
        
        <form action="/user/logout" method="post">
            <button class="btnLogout" type="submit">Logout</button>
        </form>
    </header>

    <section class="section-banner">
        <div class="banner">
            <% if(filmeBanner) {%>
             
                    <div class="banner-div" id="<%=filmeBanner.id%>">
                        <div>
                            <h1><%=filmeBanner.name%></h1>
                            <p><%=filmeBanner.description%></p>
                            <a href="/filme/<%=filmeBanner.id%>"><img src="/assets/images/informação.png"> informações</a>
                        </div>
                        
                        <img class="banner-img" src="<%=filmeBanner.urlImage%>">
                        
                    </div>
                    </li>
                    
                    <% }%>
        </div>
    </section>

    <div class="filmes-container">
        <h1>Lançamentos</h1>
        <div class="container">
            <div class="retroceder" onclick="avançar(-1,1)">
                <img src="/assets/images/retroceder.png" alt="retroceder">
            </div>
            <div class="avançar" onclick="avançar(+1,1)">
                <img  src="/assets/images/avançar.png" alt="avançar">
            </div>
            <ul class="container-interno1" >
                <% if(filmes.length > 0) {%>
                    <% for(let filme of filmes) {%>
                        <li>
                            <div class="card" id="<%=filme.id%>">
                            <img class="card-img" src="<%=filme.urlImage%>">
                            <h3><a href="/filme/<%=filme.id%>"><%=filme.name%></a></h3>

                            
                        </div>
                        </li>
                        
                        <% }}%>
                    </ul>
            
        </div>

        <div class="container">
            <div class="retroceder" onclick="avançar(-1,1)">
                <img src="/assets/images/retroceder.png" alt="retroceder">
            </div>
            <div class="avançar" onclick="avançar(+1,1)">
                <img  src="/assets/images/avançar.png" alt="avançar">
            </div>
            <ul class="container-interno1" >
                <% if(filmes.length > 0) {%>
                    <% for(let filme of filmes) {%>
                        <li>
                            <div class="card" id="<%=filme.id%>">
                            <img class="card-img" src="<%=filme.urlImage%>">
                            <h3><a href="/filme/<%=filme.id%>"><%=filme.name%></a></h3>

                            
                        </div>
                        </li>
                        
                        <% }}%>
                    </ul>
            
        </div>
    </div>
    
    
    <script src="/scripts/index.js"></script>
</body>
</html>